body {
    margin: 0;
    font-family: Arial;
    background: #eef2f7;
}

header {
    background: linear-gradient(90deg,#ff416c,#ff4b2b);
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background: #333;
    text-align: center;
    padding: 10px;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff416c;
    color: white;
    border: none;
    margin-top: 10px;
}

.ad {
    background: #ddd;
    padding: 15px;
    margin: 20px 0;
    text-align: center;
}

video {
    width: 100%;
    margin-top: 15px;
}

.download-btn {
    display: block;
    background: green;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}